<header>
  <nav class="gradient-45deg-green-teal">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo"><i class="fas fa-book"></i>Simple Diary</a>
      <a href="#" data-target="head-sidenav" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
      <ul class="right topnav hide-on-med-and-down head-menu" id="head-menu">
        {{> _menu}}
      </ul>
    </div>
    <ul class="sidenav head-menu sidenav-dark red-shade" id="head-sidenav">
      {{> _menu}}
    </ul>
  </nav>
</header>
