<footer class="page-footer footer-dark">
  <div class="footer-copyright">
    <div class="container">
      © 2020 No Copyright
      <a class="green-text text-lighten-1 right" href="https://github.com/turn-a-round/simple-diary">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</footer>
