<!DOCTYPE html>
<html lang="en">

<head>
  {{> _head}}
  <title>Simple Diary</title>
</head>

<body>
  {{> _header}}
  <main class="container">
    {{> _btn_add}}
    {{{body}}}
  </main>
  {{> _footer}}
  {{> _scripts}}
</body>

</html>
