<!DOCTYPE html>
<html lang="en">

<head>
  {{> _head}}
  <title>Simple Diary</title>
</head>

<body>
  {{> _header}}
  {{> _add_story}}
  <div class="container">
    {{{body}}}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var sideNav = document.querySelector('ul.sidenav');
      M.Sidenav.init(sideNav, {});
      var formSelects = document.querySelector('select.form-select');
      M.FormSelect.init(formSelects);
    });
  </script>
</body>

</html>
