<h5>Add Journal</h5>
<div class="row">
  <form action="/journals" method="POST" class="col s12">
    <div class="row">
      <div class="input-field">
        <input type="text" id="journal-title" name="title">
        <label for="journal-title">Title</label>
      </div>
    </div>

    {{!-- <div class="row">
      <div class="input-field">
        <select id="diary-status" name="status" class="form-select">
          <option value="draft" selected>Draft</option>
          <option value="published">Published</option>
        </select>
        <label for="status">Status</label>
      </div>
    </div> --}}

    <div class="row">
      <div class="col s12 m4 l3">
        <label class="tipped" data-position="top"
          data-tooltip="Automatic. If it's public, it'll be visible to others once you publish">
          Publish Status <i class="fas fa-info-circle"></i>
        </label>
        <div class="divider"></div>
        <div class="section switch">
          <label>
            <span class="grey-text text-darken-3">Draft</span>
            <input type="checkbox" id="journal-status" name="published" disabled>
            <span class="lever"></span>
            <span class="amber-text text-darken-3">Published</span>
          </label>
        </div>
      </div>

      <div class="col s12 m4 l3">
        <label class="tipped" data-position="top"
          data-tooltip="Once it's Public & someone interacts with it (likes, comments etc.), it cannot be changed back to Private">
          Privacy <i class="fas fa-info-circle"></i>
        </label>
        <div class="divider"></div>
        <div class="section switch">
          <label>
            <span class="green-text text-darken-3">Public</span>
            <input type="checkbox" id="journal-privacy" name="private" checked>
            <span class="lever"></span>
            <span class="amber-text text-darken-3">Private</span>
          </label>
        </div>
      </div>

      <div class="col s12 m4 l3 short-input">
        <label class="tipped" data-position="top" data-tooltip="Journal date">
          Entry Date <i class="fas fa-info-circle"></i>
        </label>
        <div class="divider"></div>
        <div class="input-field">
          <input type="text" id="journal-date" name="date">
          {{!-- <label for="journal-date">Journal Date</label> --}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <h5>Journal Entry:</h5>
        <textarea id="journal-body" name="body"></textarea>
      </div>
    </div>

    <div class="row">
      {{!-- <input type="submit" value="Save" class="btn green lighten-3 teal-text text-darken-4"> --}}
      <input type="submit" value="Publish" class="btn teal darken-3">
      <a href="/dashboard" class="btn orange lighten-2 red-text text-darken-4">Cancel</a>
    </div>
  </form>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/22.0.0/classic/ckeditor.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var journalBody = document.querySelector('#journal-body');
    var editor;
    ClassicEditor
      .create(journalBody)
      .then(newEditor => editor = newEditor)
      .catch(error => {
        console.error(error);
      });
  });
</script>
