<h3><i class="fas fa-book"></i> <span class="light-green-text text-darken-4">Simple Diary</span></h3>
<div class="section">
  <p class="lead indigo-text text-darken-3">Write your life journal & share some</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-2 z-depth-2">
    <i class="fab fa-google left"></i> Log In with Google
  </a>
</div>
