<h3>Add Story</h3>
<div class="row">
  <form action="/stories" method="POST" class="col s12">
    <div class="row">
      <div class="input-field">
        <input type="text" id="diary-title" name="title">
        <label for="title">Title</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <select id="diary-status" name="status" class="form-select">
          <option value="draft" selected>Draft</option>
          <option value="published">Published</option>
        </select>
        <label for="status">Status</label>
      </div>
    </div>

    <div class="row">
      <div class="switch">
        <label>
          <span class="green-text text-darken-3">Public</span>
          <input type="checkbox" id="diary-status" name="private">
          <span class="lever"></span>
          <span class="amber-text text-darken-3">Private</span>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <h5>Tell Us Your Story:</h5>
        <textarea id="diary-body" name="body"></textarea>
      </div>
    </div>

    <div class="row">
      <input type="submit" value="Save" class="btn">
      <a href="/dashboard" class="btn orange">Cancel</a>
    </div>
  </form>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/22.0.0/classic/ckeditor.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var diaryBody = document.querySelector('#diary-body');
    var editor;
    ClassicEditor
      .create(diaryBody)
      .then(newEditor => editor = newEditor)
      .catch(error => {
        console.error(error);
      });
  });
</script>
