* {
  padding: 0;
  margin: 0;
}

body {
  background: #F5F5F5 none;
}

.login-container {
  text-align: center;
  max-width: 360px;
  margin: 12px auto;
}

p {
  margin: 6px 0 !important;
}

/* header nav override from materialize */
nav .brand-logo i.material-icons,
nav .brand-logo i[class*="fa-"] {
  display: block;
  font-size: 24px;
  height: 56px;
  line-height: 56px;
}

nav .brand-logo {
  font-size: 1.5rem;
}

@media only screen and (min-width: 601px) {

  nav .brand-logo i.material-icons,
  nav .brand-logo i[class*="fa-"] {
    height: 64px;
    line-height: 64px;
  }

  nav .brand-logo {
    font-size: 2.1rem;
  }
}

/* header nav override from materialize */

.switch label {
  cursor: pointer;
  font-size: 1rem;
  color: #9e9e9e;
}
