<footer class="page-footer footer-dark">
  <div class="footer-copyright">
    <div class="container">
      © 2020 <i class="fas fa-grin-wink orange-text"></i>
      Copyright, thanks to <a href="https://github.com/terran-source" target="_blank">Terran-Source</a>
      <a class="right green-text text-lighten-1" href="https://github.com/Terran-Source/simple-diary" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</footer>
