<li><a href="/dashboard"><i class="fas fa-atlas"></i>Dashboard</a></li>
<li><a href="/journals"><i class="fas fa-book-reader"></i>Public Journals</a></li>
<li><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
